<!DOCTYPE html>
<html lang="en">
<head>
          <%- include('../partials/head'); %>

</head>
<body class="container">
    <header>
        <!-- include header-->
          <%- include('../partials/header'); %>
    </header>
    <main>
<h1>Our PokeFight Api</h1>
<h2>a pokemon library and virtual arena to fight against other pokemon</h2>
<h3 class="mt-4">List of Endpoints:</h3>
<ul>
<li>
    <strong>Get all Pokemons an their information use following endpoint:</strong>
    <br/>
    <small>/api/pokemons</small>
</li>
<li>
    <strong>Get single Pokemons an detailed information use following endpoint:</strong>
    <br/>
    <small>/api/pokemons/:id</small>
</li>
</ul>
</div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>